.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 50px 10px;
}
.container h2{
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    color: var(--colorblack);
    margin-bottom: 20px;
}
.form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: var(--color2);
    max-width: 100%;
    gap: 30px;
    padding: 60px 10px;
    border-radius: 10px;
}

.formItem{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.formItem input{
    width: 100%;
    padding: 10px;
    border: 1px solid var(--color0);
    border-radius: 5px;
    outline: none;
}
.ratingItem{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}
.checkboxItem{
    display: flex;
    gap: 10px;
}

.formItem label, .label{
    font-size: 20px;
    font-weight: 600;
    color: var(--color3);
}

.rating {
  display: inline-block;
}

.rating input {
  display: none;
}

.rating label {
  float: right;
  cursor: pointer;
  color: #ccc;
  transition: color 0.3s;
}

.rating label:before {
  content: "\2605";
  font-size: 30px;
}

.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label {
  color: #6f00ff;
  transition: color 0.3s;
}

.custumFileUpload {
  height: 100px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 20px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 2px dashed var(--color1);
  border-radius: 10px;
}

.custumFileUpload .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custumFileUpload .icon svg {
  height: 30px;
  fill: rgba(75, 85, 99, 1);
}

.custumFileUpload .text {
  text-align: center;
}

.custumFileUpload .text span {
  color: var(--color1);
  font-size: 16px;
}

.custumFileUpload input {
  display: none;
}
