.title {
  text-align: center;
  margin-bottom: 75px;
}
.title h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
}

.top {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 400;
  color: var(--color8);
  justify-content: center;
  margin-bottom: 30px;
}
